<a href="https://colab.research.google.com/github/SooryaSoman/soorya/blob/main/day2practiceproblem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

1. Write a program to find sum of all elements in a list of integers

In [ ]:
list = [10,20,30,40,50]
print(list)
print("sum of list: ",sum(list))

[10, 20, 30, 40, 50]
sum of list:  150

2. Input a sentence as a string.
a) Print its length
b) Print the first half of string

In [ ]:
s="I AM HAPPY"
print("length:",len(s))

length: 10

In [ ]:
s = "I am happy"
n = len(s)//2
str1 = s[:n] # 1st half of s

print(str1)

I am

3. Write a program to enter a tuple of integers as
(78,45,32,19,82,77,40,39). Change the third value in the tuple to
100

In [ ]:
tuple1=(78,45,32,19,82,77,40,39)
print(tuple1)

(78, 45, 32, 19, 82, 77, 40, 39)

4. Consider a list listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
(a) Delete the first occurrence of 32
(b) Delete all occurrences of 40
(c) Delete the value at index=5
(d) Modify the value at index=9 as 300
(e) Add 200 at index=2
(f) Print the final list with its length, maximum value
and sum of all elements

In [ ]:
listA=[19,32,10,55,31,32,94,29,10,65,77,40,40]
print("orginal list :"+str(listA))
listA.remove(32)
print("after removing 32 :"+str(listA))

orginal list :[19, 32, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]
after removing 32 :[19, 10, 55, 31, 32, 94, 29, 10, 65, 77, 40, 40]

In [ ]:
while (listA.count(40)):
    listA.remove(40)

print(listA)

[19, 10, 55, 31, 32, 94, 29, 10, 65, 77]

In [3]:
listA.pop(5)
print(listA)

NameError: name 'listA' is not defined

In [1]:
listA [9]=300

NameError: name 'listA' is not defined