<a href="https://colab.research.google.com/github/SooryaSoman/soorya/blob/main/day3practice_problem.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Ticket Price Calculator:
I. Ask the user to enter their age.
II. Use control statements (if-elif-else) to calculate the ticket price based on the
following conditions:
a. If the age is below 5, the ticket price is free.
b. If the age is between 5 and 12 (inclusive), the ticket price is Rs.10.
c. If the age is above 12, the ticket price is Rs.50.
d. If the age is above 60, the ticket price is free.
e. If the gender is female, the ticket price is 50% of the applicable rates.
III. Display the ticket price to the user.

In [9]:
print ("Hello")

print ('Your age')
age=input("--->")
age=int(age)
print('your gender:f/m')
gender=input("--->")
gender=str(gender)
price=0
if age >=5 or age<=12:
    price==10.00
elif age > 15 or age < 60:
    price==50.00
elif age > 60 or age<5:
    price==0
elif gender=="f":
    price=price/2

print ('Your  fee is !'+ str(price))

Hello
Your age
--->5
your gender:f/m
--->f
Your  fee is !0

A dictionary is given D={‘John’ [25,32,43],’Peter’:[87,55,96],’Ram’:[58,55,43],’Meena’:[63,79,85]}
Get a name from user if the name in the dictionary change the values corresponding to
that user to [88,77,99] and print the dictionary. Else print ‘Name not found’.

In [14]:
D={'John': [25,32,43],'Peter'
:[87,55,96],'Ram':[58,55,43],'Meena':[63,79,85]}
print('enter a name')
name=input("--->")
name=str(name)
if name in D:
    D[name]=[88,77,99]
    print(D)

else:
    print('name not found')

enter a name
--->Meena
{'John': [25, 32, 43], 'Peter': [87, 55, 96], 'Ram': [58, 55, 43], 'Meena': [88, 77, 99]}

Given the participants' score sheet for your University Sports Day, you are required to
find the runner-up score. You are given scores. Store them in a list and find the score of
the runner-up. (Create an array of scores and print the runner up score)